
        .main-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            background-color: #f5f5f5;
            box-shadow: 0 2px 4px rgba(0,0,0,0.05);
            flex-wrap: wrap;
            gap: 15px;
        }

        .header-brand {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .header-logo {
            width: 60px;
            height: auto;
        }

        .header-title {
            margin: 0;
            font-size: 2.0rem;
            color: #333;
            font-weight: 700;
        }

        .main-nav {
            display: flex;
            gap: 20px;
            font-size: 1.33rem;
            flex-wrap: wrap;
            justify-content: center;
        }

        .nav-link {
            text-decoration: none;
            color: #333;
            padding: 8px 12px;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease;
            font-weight: 500;
        }

        .nav-link:hover {
            background-color: #e0e0e0;
            color: #000;
        }


        /* Footer Styles */
            .main-footer {
                background-color: #f5f5f5;
                padding: 20px;
                margin-top: 40px;
                top:100%;
                font-size: 1.2rem;
                color: #555;
                text-align: center;
                box-shadow: 0 -2px 4px rgba(0,0,0,0.05);
            }

            .footer-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                margin: 0 auto;
            }
