
.login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 28rem;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.login-container h1 {
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    color: #1f2937;
    margin-bottom: 1.5rem
}



form.space-y-5 {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.form-group label {
    display: block;
    color: #374151;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.form-input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
}

.form-input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.show-password-label {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: #374151;
    margin-top: 0.5rem;
    cursor: pointer;
}

.checkbox-margin {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;

    accent-color: #3b82f6;
}



/* Error Messages */
span.text-red-500 {
    color: #ef4444;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    display: block;
}


.section-spacing {
    margin-top: 1.5rem;
    text-align: center;
    color: #4b5563;
    font-size: 0.875rem;
}

.section-spacing a {
    color: #2563eb;
    text-decoration: none;
}

.section-spacing a:hover {
    text-decoration: underline;
}

